* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    background: #ffffff;
    margin-top: 120px; /* Agrega espacio arriba del contenido */
}

header {
    background-color: #FFD4DB;
    height: 120px;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center;
    position: fixed; /* Fija el header en la parte superior */
    top: 0; /* Posición superior */
    left: 0; /* Alinea el header con el borde izquierdo */
    width: 100%; /* Asegura que el header tenga el ancho completo de la página */
    z-index: 9999; /* Asegura que el header esté por encima de otros elementos */
    box-shadow: inset;
}


.titulo { 
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Centra el título exactamente */
}

.offcanvas-menu > label {
    position: absolute;
    left: 20px; /* Mantiene el botón del menú en la esquina izquierda */
}


.iconos-header {
    position: absolute;
    right: 50px; /* Posiciona los íconos en la esquina derecha */
    display: flex;
    gap: 50px; /* Espacio entre los íconos */
}

.iconos-header a {
    font-size: 3rem;
    color: #000000;
    transition: color 0.4s;
}

.iconos-header a:hover {
    color: #ffffff; /* Color de los íconos al pasar el mouse */
}

a {
    text-decoration: none;
    outline: none;
    color: #1a1a1a; 
}

li {
    list-style: none;
}

@keyframes hover {
    50% {
        transform: translateX(10px);
    }
}

.offcanvas-menu > label {
    top: 30px;
    left: 30px;
    position: fixed;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    z-index: 9999;
}

.offcanvas-menu label span,
.offcanvas-menu label span::before,
.offcanvas-menu label span::after {
    transition: background 0.3s, transform 0.3s;
}

.offcanvas-menu label span,
.offcanvas-menu label span::before,
.offcanvas-menu label span::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 40px;
    background: #0202028c; /* Darkened color from #fff */
}

.offcanvas-menu label span::before {
    transform: translateY(-12px);
}

.offcanvas-menu label span::after {
    transform: translateY(12px);
}

.offcanvas-menu nav {
    position: fixed;
    top: 120px; /* La misma altura que el header */
    width: 350px; /* Ajusta según tus necesidades */
    height: calc(100% - 120px); /* Calcula la altura restante de la pantalla */
    left: -350px; /* O lo que necesites según el diseño */
    overflow: hidden;
    background: linear-gradient(to bottom, #FFD4DB 30%, #FA86A6 110%);
    transition: 0.3s ease;
    padding: 40px 30px;
    z-index: 9999;
}   

.offcanvas-menu nav > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offcanvas-menu nav div a {
    font-size: 2.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    font-family: "Monoton", cursive;
    background: linear-gradient(-90deg, #FFD4DB 30%, #E16C8C 110%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Asegúrate de que el texto sea transparente */
}

.offcanvas-menu nav i {
    font-size: 4rem;
    background: linear-gradient(120deg, #FFD4DB 30%, #E16C8C 110%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Asegúrate de que el texto sea transparente */
}

.offcanvas-menu nav label {
    width: 30px;
    height: 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
}

.offcanvas-menu nav label span,
.offcanvas-menu nav label span:before,
.offcanvas-menu nav label span:after {
    background: #0202028c; /* Darkened color from #fff */
}

.offcanvas-menu nav > ul {
    margin-top: 30px;
}

.offcanvas-menu nav ul li {
    cursor: pointer;
    padding: 10px 0;
    transform: translateX(-30px);
    opacity: 0;
    transition: 0.9s ease;
}

.offcanvas-menu nav ul li a {
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 400;
    color: #1a1a1a; /* Darkened color from #fff */
    display: block;
}


.offcanvas-menu nav ul li:hover {
    animation: hover 0.5s;
}



input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ label {
    opacity: 0;
    pointer-events: none;
}

input[type="checkbox"]:checked ~ nav {
    left: 0;
}

input[type="checkbox"]:checked ~ nav label span {
    background: transparent;
}

input[type="checkbox"]:checked ~ nav label span:before {
    transform: rotate(-45deg);
}

input[type="checkbox"]:checked ~ nav label span:after {
    transform: rotate(45deg);
}

input[type="checkbox"]:checked ~ nav label span:before,
input[type="checkbox"]:checked ~ nav label span:after {
    transition-delay: 0.2s;
}

input[type="checkbox"]:checked ~ nav ul li {
    opacity: 1;
    transform: translateX(0px);
}

input[type="checkbox"]:checked ~ nav ul li:nth-child(1) {
    transition-delay: 0.1s;
}

input[type="checkbox"]:checked ~ nav ul li:nth-child(2) {
    transition-delay: 0.2s;
}

input[type="checkbox"]:checked ~ nav ul li:nth-child(3) {
    transition-delay: 0.3s;
}

input[type="checkbox"]:checked ~ nav ul li:nth-child(4) {
    transition-delay: 0.4s;
}

input[type="checkbox"]:checked ~ nav ul li:nth-child(5) {
    transition-delay: 0.5s;
}

input[type="checkbox"]:checked ~ nav ul li:nth-child(6) {
    transition-delay: 0.6s;
}

input[type="checkbox"]:checked ~ nav ul li:nth-child(7) {
    transition-delay: 0.7s;
}

/* CSS para el overlay */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro con transparencia */
    z-index: 9998; /* Justo por debajo del menú */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

/* Cuando el menú está abierto */
input[type="checkbox"]:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
   
}

input[type="checkbox"]:checked ~ nav {
    left: 0;
}


/* Estilos del carrusel */
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-slides {
    display: flex;
    transition: transform 0.8s ease-in-out;
}

.slide {
    width: 100%;
    flex: 0 0 100%;
}

.slide img {
    width: 100%;
    display: block;
}



.card-container {
    display: flex;
    justify-content: center; /* Centra las cards horizontalmente */
    align-items: center; /* Centra las cards verticalmente si hay más altura disponible */
    flex-wrap: wrap; /* Permite que las cards se ajusten en varias filas si es necesario */
    margin: 90px; /* Añade un margen alrededor del contenedor */
}


.card {
    background: #fff;
    border-radius: 8px;
    display: inline-block;
    height: 700px;
    margin: 1rem;
    position: relative;
    width: 420px;
    box-shadow: 0 6px 9px rgba(0,0,0,0.16), 0 6px 9px rgba(0,0,0,0.23);
}

.img-card {
    width: calc(100% - 20px); /* Restamos 4px al ancho total para tener 2px a cada lado */
    height: 500px; /* Mantiene la proporción de la imagen */
    margin: 10px; /* Añade un margen de 2px alrededor de la imagen */
    display: block;
}


.title-card {
    font-size: 20px;
    font-weight: bold;
    margin: 15px auto;
    text-align: center;
}

.description-card {
    margin: 0;
    width: 100%;
    height: 62px;
    margin-left: 15px;
}

.price-cart-container {
    height: 55px;
    display: flex;
    justify-content: space-between; /* Distribuye el precio y el carrito en extremos opuestos */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 0 15px; /* Añade un poco de espacio a los lados */
    border-top: 1px solid #ddd;
}

.price-card {
    font-size: 18px;
    font-weight: bold;
}

.cart-card {
    font-size: 1.5rem; /* Ajusta el tamaño de fuente del botón */
}

.add-to-cart-button {
    display: flex;
    align-items: center;
    background-color: #E16C8C; /* Color de fondo del botón */
    color: #ffffff;
    padding: 8px 12px; /* Ajusta el padding del botón */
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
    background-color: #d15875; /* Color de fondo al pasar el mouse */
}

.add-to-cart-button i {
    margin-right: 8px; /* Espacio entre el ícono y el texto */
}



footer {
    background-color: #FFD4DB;
    padding: 40px 20px;
    color: #1a1a1a;
    text-align: center;
    font-size: 1.4rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 18px;
}

.footer-info, .footer-links, .footer-social {
    flex: 1;
    min-width: 200px;
}

.footer-info p, .footer-links ul, .footer-social ul {
    margin: 10px 0;
}

.footer-links ul, .footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-links a, .footer-social a {
    color: #1a1a1a;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover, .footer-social a:hover {
    color: #E16C8C;
}

.footer-social ul {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.footer-social i {
    font-size: 2rem;
    transition: color 0.3s;
}

.footer-social i:hover {
    color: #E16C8C;
}
/* Estilo para el ícono de WhatsApp flotante */
.whatsapp-icon {
    position: fixed;
    bottom: 35px;
    right: 35px;
    background-color: transparent;
    color: #25D366;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    transition: color 0.3s ease;
}

.whatsapp-icon:hover {
    color: #128C7E;
}



@media screen and (max-width: 768px) {
    body {
        font-size: 1.1rem;
        margin-top: 100px; /* Ajusta el margen superior para móviles */
    }

    header {
        height: 80px;
    }

    .offcanvas-menu > label.toogle-open {
        width: 30px; /* Ajusta el ancho del botón */
        height: 30px; /* Ajusta la altura del botón */
        top: 25px; /* Ajusta la posición superior */
        left: 30px; /* Ajusta la posición izquierda */
      }
    
    .offcanvas-menu > label.toogle-open span,
    .offcanvas-menu > label.toogle-open span::before,
    .offcanvas-menu > label.toogle-open span::after {
        height: 3px; /* Ajusta el grosor de las barras */
        width: 30px; /* Ajusta el ancho de las barras */
      }
      .offcanvas-menu > label span::before {
        transform: translateY(-10px); /* Reduce la separación superior */
    }
    .offcanvas-menu > label span::after {
        transform: translateY(10px); /* Reduce la separación inferior */
    }

    .offcanvas-menu nav {
        top: 80px;
        height: 100%;
        width: 250px; /* Reduce el ancho del menú */
        left: -250px; /* Ajusta la posición para que el menú esté fuera de la vista */
        padding: 30px 20px; /* Reduce el padding interno del menú */
    }

    .offcanvas-menu nav > div a {
        font-size: 2rem; /* Reduce el tamaño de la fuente */
    }

    .offcanvas-menu nav ul li a {
        font-size: 2rem; /* Ajusta el tamaño de la fuente de los elementos del menú */
    }

    .offcanvas-menu nav label {
        width: 25px; /* Ajusta el ancho del botón */
        height: 25px; /* Ajusta la altura del botón */
    }

    .offcanvas-menu nav label span,
    .offcanvas-menu nav label span::before,
    .offcanvas-menu nav label span::after {
        height: 2px; /* Reduce el grosor de las barras */
        width: 25px; /* Ajusta el ancho de las barras */
    }
    .titulo {
        font-size: 1.2rem;
    }

    .iconos-header {
        font-size: 0.2rem;
        right: 30px;
        gap: 20px;
    }

    .iconos-header a {
        font-size: 2.2rem;
    }

    .carousel {
        top: -20px;
    }

    .card-container {
        margin: 15px; /* Reduce el margen alrededor del contenedor */
    }

    .card {
        width: 100%; /* Ajusta el ancho de la card para que ocupe el 100% del contenedor */
        max-width: 350px; /* Limita el ancho máximo de la card */
        height: auto; /* Ajusta la altura automáticamente según el contenido */
    }

    .img-card {
        width: calc(100% - 10px); /* Restamos 4px al ancho total para tener 2px a cada lado */
        height: 380px; /* Ajusta la altura de la imagen */
        margin: 5px; /* Ajusta el margen alrededor de la imagen */
    }

    .title-card {
        margin: 8px auto;
        font-size: 18px; /* Reduce el tamaño de fuente del título */
    }

    .description-card {
        height: 20px; /* Ajusta la altura automáticamente según el contenido */
        margin-left: 10px; /* Ajusta el margen izquierdo */
    }

    .price-cart-container {
        height: 50px; /* Ajusta la altura del contenedor */
        padding: 0 10px; /* Ajusta el padding */
    }

    .price-card {
        font-size: 16px; /* Reduce el tamaño de fuente del precio */
    }

    .cart-card {
        font-size: 1.2rem; /* Ajusta el tamaño de fuente del botón */
    }

    .add-to-cart-button {
        font-size: 14px; /* Reduce el tamaño de fuente del botón */
        padding: 6px 10px; /* Ajusta el padding del botón */
    }
    
      
    .footer-container {
        font-size: 14px;
    }

    .whatsapp-icon {
        font-size: 3rem; /* Ajusta el tamaño del ícono */
        bottom: 30px; /* Ajusta la distancia desde el fondo */
        right: 30px; /* Ajusta la distancia desde la derecha */
    }
    }
/* Media Query para pantallas de máximo 480px */
@media (max-width: 480px) {

    main {
        margin-bottom: 20px;
    }
    .offcanvas-menu > label.toogle-open {
        width: 20px; /* Ajusta el ancho del botón */
        height: 20px; /* Ajusta la altura del botón */
        top: 30px; /* Ajusta la posición superior */
        left: 30px; /* Ajusta la posición izquierda */
      }
    
    .offcanvas-menu > label.toogle-open span,
    .offcanvas-menu > label.toogle-open span::before,
    .offcanvas-menu > label.toogle-open span::after {
        height: 3px; /* Ajusta el grosor de las barras */
        width: 24px; /* Ajusta el ancho de las barras */
      }


    .offcanvas-menu > label span::before {
        transform: translateY(-8px); /* Reduce la separación superior */
    }
    .offcanvas-menu > label span::after {
        transform: translateY(8px); /* Reduce la separación inferior */
    }


    .offcanvas-menu nav {
        width: 200px; /* Reduce aún más el ancho del menú */
        left: -200px; /* Ajusta la posición para que el menú esté fuera de la vista */
        padding: 20px 15px; /* Reduce el padding interno del menú */
    }

    .offcanvas-menu nav > div a {
        font-size: 1.8rem; /* Reduce el tamaño de la fuente */
    }

    .offcanvas-menu nav ul li a {
        font-size: 1.8rem; /* Ajusta el tamaño de la fuente de los elementos del menú */
    }

    .offcanvas-menu nav label {
        width: 20px; /* Reduce aún más el ancho del botón */
        height: 20px; /* Reduce aún más la altura del botón */
    }

    .offcanvas-menu nav label span,
    .offcanvas-menu nav label span::before,
    .offcanvas-menu nav label span::after {
        height: 2px; /* Mantén el grosor de las barras del tamaño más pequeño */
        width: 20px; /* Reduce el ancho de las barras para adaptarse al tamaño del botón */
    }


    .card-container {
        margin: 10px; /* Reduce aún más el margen alrededor del contenedor */
    }

    .card {
        width: 100%; /* Ajusta el ancho de la card para que ocupe el 100% del contenedor */
        max-width: 300px; /* Limita el ancho máximo de la card */
        height: auto; /* Ajusta la altura automáticamente según el contenido */
    }

    .img-card {
        width: calc(100% - 4px); /* Restamos 4px al ancho total para tener 2px a cada lado */
        height: 300px; /* Ajusta la altura de la imagen */
        margin: 2px; /* Ajusta el margen alrededor de la imagen */
    }

    .title-card {
        font-size: 16px; /* Reduce el tamaño de fuente del título */
    }

    .description-card {
        font-size: 13px;
        height: 15; /* Ajusta la altura automáticamente según el contenido */
        margin-left: 5px; /* Ajusta el margen izquierdo */
    }

    .price-cart-container {
        height: 45px; /* Ajusta la altura del contenedor */
        padding: 0 5px; /* Ajusta el padding */
    }

    .price-card {
        font-size: 13px; /* Reduce el tamaño de fuente del precio */
    }

    .cart-card {
        font-size: 0.8rem; /* Ajusta el tamaño de fuente del botón */
    }

    .add-to-cart-button {
        height: 25px;
        font-size: 11px; /* Reduce el tamaño de fuente del botón */
        padding: 4px 8px; /* Ajusta el padding del botón */
    }

    .footer-container {
        font-size: 12px;
    }
    
    .whatsapp-icon {
        font-size: 2.5rem; /* Ajusta el tamaño del ícono */
        bottom: 20px; /* Ajusta la distancia desde el fondo */
        right: 20px; /* Ajusta la distancia desde la derecha */
    }
}
